body {
  font-family: "Raleway", sans-serif;
}

/* Nav Bar Style */

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar h1 {
  font-family: "Inter", sans-serif;
  margin-left: 150px;
  font-size: 34px;
  color: #4e47ff;
}

.nav-bar button {
  margin-right: 150px;
  background-color: #4e47ff;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

/* Nav Bar Content Style */

.header {
  background-image: url(Assets/Hero-bg.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.nav-content {
  text-align: center;
  margin-top: 300px;
}

.nav-content h2 {
  font-size: 65px;
  font-weight: bold;
  color: #252432;
  margin-left: 270px;
  margin-right: 270px;
}

.nav-content button {
  padding: 15px 40px;
  background-color: #4e47ff;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
}

/* Section Style */

.action {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 120px;
}

.action-content {
  margin-left: 141px;
}

.action h2 {
  color: #252432;
  font-weight: bold;
  font-size: 42px;
}

.action p {
  color: #25243284;
  font-size: 24px;
}

.action button {
  background-color: #4e47ff;
  color: white;
  padding: 15px 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.action img {
  border-radius: 48px;
  margin-right: 160px;
}

/* Productive User Style */

.productive-user {
  margin-top: 120px;
  margin-left: 300px;
  margin-right: 150px;
  background-color: #4d47ff18;
  border-radius: 24px;
  max-width: 1240px;
  height: 400px;
}

.productive-user h1 {
  text-align: center;
  padding: 50px;
  font-size: 38px;
  font-weight: bold;
  color: #252432;
}

.content-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.productive-content {
  text-align: center;
}

.productive-content h1 {
  color: #4e47ff;
  font-size: 80px;
  font-weight: bold;
  position: relative;
  bottom: 120px;
}

.productive-content p {
  position: relative;
  bottom: 200px;
  font-size: 20px;
  color: #25243284;
}

/* User Card Style */

.user-card h1 {
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  color: #252432;
  margin-top: 140px;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0px 100px;
}

.card-content {
  background-color: antiquewhite;
  width: 343px;
  height: 243px;
  margin-right: 20px;
  padding-left: 20px;
}

.card-pf {
  display: flex;
  align-items: center;
}

.card-pf img {
  border-radius: 50%;
  margin-right: 10px;
}

.card-pf strong {
  display: block;
  font-size: 14px;
  color: #333;
}

.card-pf span {
  display: block;
  font-size: 12px;
  color: #aaa;
}

/* Webflow Section Style */

.webflow-section {
  background-color: #f7f7f7;
  text-align: center;
  max-width: 1240px;
  height: 700px;
  margin-left: 300px;
  border-radius: 14px;
}

.webflow-content {
  margin-top: 210px;
  background-color: rgba(255, 255, 255, 0.037);
  padding-top: 70px;
}

.webflow-content h1{
    font-size: 50px;
    font-weight: bold;
    color: #252432;
}

.webflow-section p{
    color: #25243284;
    font-size: 16px;
}

.webflow-section img{
    margin-top: 20px;
    border-radius: 48px;
}

.webflow-section button{
    padding: 15px 40px;
    background-color: #4e47ff;
    color: #f7f7f7;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* Form Section Style */