body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal
}

/* Nav Bar Style */

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar h1 {
  font-family: "Inter", sans-serif;
  margin-left: 150px;
  font-size: 34px;
  color: #4e47ff;
}

.nav-bar button {
  margin-right: 150px;
  background-color: #4e47ff;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.nav-bar button:hover{
  background-color: #3a34e0;
}

/* Nav Bar Content Style */

.header {
  background-image: url(Assets/Hero-bg.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.nav-content {
  text-align: center;
  margin-top: 300px;
}

.nav-content h2 {
  font-size: 65px;
  font-weight: bold;
  color: #252432;
  margin-left: 270px;
  margin-right: 270px;
}

.nav-content button {
  padding: 15px 40px;
  background-color: #4e47ff;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
}

.nav-content button:hover{
  background-color: #3a34e0;
}

/* Section Style */

.action {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 120px;
}

.action-content {
  margin-left: 141px;
}

.action h2 {
  color: #252432;
  font-weight: bold;
  font-size: 42px;
}

.action p {
  color: #25243284;
  font-size: 24px;
}

.action button {
  background-color: #4e47ff;
  color: white;
  padding: 15px 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.action img {
  border-radius: 48px;
  margin-right: 160px;
}

.action button:hover{
  background-color: #3a34e0;
}

/* Productive User Style */

.productive-user {
  margin-top: 120px;
  margin-left: 300px;
  margin-right: 150px;
  background-color: #4d47ff18;
  border-radius: 24px;
  max-width: 1240px;
  height: 400px;
}

.productive-user h1 {
  text-align: center;
  padding: 50px;
  font-size: 38px;
  font-weight: bold;
  color: #252432;
}

.content-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.productive-content {
  text-align: center;
}

.productive-content h1 {
  color: #4e47ff;
  font-size: 80px;
  font-weight: bold;
  position: relative;
  bottom: 120px;
}

.productive-content p {
  position: relative;
  bottom: 200px;
  font-size: 20px;
  color: #25243284;
}

/* User Card Style */

.user-title {
  text-align: center;
  margin-top: 100px;
  font-size: 42px;
  font-weight: bold;
  color: #000000;
}

.user-card {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 1100px;
  margin: 100px auto;
}

.card-profile {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  width: 32%;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.stars {
  color: #f6b01e;
  font-size: 18px;
  margin-bottom: 10px;
}

.card-profile h3 {
  font-size: 18px;
  margin: 0 0 10px;
  font-weight: 600;
  color: #1c1c1c;
}

.card-profile p {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.profile-content strong {
  display: block;
  font-size: 14px;
  color: #333;
}

.profile-content span {
  font-size: 12px;
  color: #aaa;
}


/* Webflow Section Style */

.webflow-section {
  background-color: #f7f7f7;
  text-align: center;
  max-width: 1240px;
  height: 750px;
  margin-left: 300px;
  border-radius: 14px;
}

.webflow-content {
  margin-top: 210px;
  background-color: rgba(255, 255, 255, 0.037);
  padding-top: 70px;
}

.webflow-content h1 {
  font-size: 50px;
  font-weight: bold;
  color: #252432;
}

.webflow-section p {
  color: #25243284;
  font-size: 16px;
}

.webflow-section img {
  margin-top: 20px;
  border-radius: 48px;
}

.webflow-section button {
  padding: 15px 40px;
  background-color: #4e47ff;
  color: #f7f7f7;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

.webflow-section button:hover{
  background-color: #3a34e0;
}

/* Form Section Style */

.form-section {
  padding: 120px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  background-color: #e4e4fd9e;
  margin-top: 100px;
}

.form-title{
  font-size: 80px;
  font-weight: bold;
  color: #000000;
  margin-left: 150px;
}

.form-column {
  width: 40%;
  margin-right: 150px;
}

.form-column label{
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  position: relative;
  bottom: 5px;
}

.form-column input[type="email"],
.form-column input[type="text"],
.form-column textarea {
  height: 64px;
  border-radius: 5px;
  border: none;
  background-color: white;
  display: block;
  width: 90%;
  font-size: 20px;
  padding: 10px 20px;
  margin-bottom: 24px;
}

.form-section button{
  width: 100%;
  padding: 10px 0;
  background-color: #4e47ff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.form-section button:hover{
  background-color: #3a34e0;
}


/* footer section style */

.footer-section {
  text-align: center;
  margin-bottom: 103px;
  margin-top: 104px;
}

.footer-section h1 {
  color: #4e47ff;
  font-size: 100px;
  font-weight: bolder;
  position: relative;
  top: 50px;
}

.footer-section p {
  color: #8987a1;
  margin-left: 600px;
  margin-right: 650px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links ul {
  list-style: none;
  display: flex;
  gap: 48px;
  font-size: 18px;
}

.links ul li a {
  text-decoration: none;
  color: #8987a1;
}

.links ul li a:hover{
  color: #5e5adf;
  text-decoration: underline;
}